.startNewProject {
  border: 1px dashed white;
  padding: $m-size;
  border-radius: 5em / 5em;
  display: block; 
  margin: 0 auto;
}

.startNewProject__form {
  width: calc(260px - 2 * $s-size);
  margin: 0;
  margin-top: $s-size;
  background-color: white;
  border: 1px solid $dark-blue;
  padding: $s-size $xs-size;
  display: flex;
  input {
    padding: $xs-size;
    color: $dark-blue;
    border: 1px solid $dark-blue;
    border-radius: $xs-size;
    width: 70%;
  }
  button {
    width: 30%;
    background-color: $dark-blue;
    margin-left: $xs-size;
    padding: $xs-size;
    border: 1px dashed $dark-blue;
    border-radius: $xs-size;
  }
}
