.add-project__form {
  margin-bottom: $xl-size;

  .startNewProject, input {
    border: 1px dashed white;
    padding: $m-size;
    border-radius: 5em / 5em;
    display: block; 
    margin: $m-size 0;
    font-size: $sm-size;
  }
  input {
    background: $dark-blue;
    color: white;
  }
}
