.addBoardButton, .addBoard {
  margin: $sm-size;
  margin-top: $l-size;
  display: flex;
}

.addBoard {
  input {
    padding: $s-size;
    border: 1px solid $dark-grey;
  }
}

.addBoardButton, .addBoard button {
    font-weight: 600;
    color: $dark-grey;
}
