.board {
  margin-left: $m-size;

  .board-header {
    padding: $l-size 0 $ml-size 0;

    h4 {
      font-size: 2rem;
      padding-right: 0;
      margin-bottom: 0;
    }
    i {
      color: $dark-grey;
    }
  }
}
