.header {
  align-items: center;
  h1, h2 {
    margin: $m-size 0;
  }
  h2 {
    margin-left: $m-size;
    background-color: $pink;
    padding: $xs-size;
    border-radius: 4px;
  }
  button {
    color: white;
  }
}
