.left-panel__header {
  h2,
  h3,
  button {
    margin: $m-size 0;
  }
  h2 {
    font-weight: 300;
  }
  h3,
  i {
    margin-left: $m-size;
    background-color: $pink;
    padding: $xs-size;
    border-radius: 4px;
  }
  button {
    color: white;
  }
}
