.project-details-header {
  background: white;
  margin: 0;
  padding: $l-size 0;
  border-bottom: 1px solid $dark-grey;
  .project-details-header__title {
    padding: 0 $m-size;
    display: flex;
    img {
      height: $l-size;
    }
    h1 {
      padding: 0;
      padding-left: $m-size;
      margin: 0;
      align-self: center;
      font-weight: 600;
    }
  }
  .row {
    margin: 0;
  }

  .project-details-header__search {
    padding: $s-size;
    border-radius: 5em / 5em;
    border: 1px solid $dark-grey;
  }

  .project-details-header__button-container {
    padding: 0;
    margin: 0 $m-size;
  }
  .project-details-header__action,
  .project-details-header__secondary-action {
    padding: $s-size $l-size;
  }

  .project-details-header__action {
    @extend %button-primary;
  }

  .project-details-header__secondary-action {
    padding-right: 0;
    color: $purple;
    span {
      padding: 0 0 0 $xs-size;
      font-weight: 400;
    }
  }

  @media only screen and (max-width: 1199px) {
    .project-details-header__action,
    .project-details-header__secondary-action,
    .project-details-header__search {
      padding: $xs-size;
      margin-top: $sm-size;
    }
    .project-details-header__secondary-action {
      padding-right: 0;
    }
    padding: $m-size 0;
  }
}

@media only screen and (max-width: 767px) {
  .project-details-header__action,
  .project-details-header__secondary-action {
    margin-top: $sm-size;
  }
  .project-details-header {
    .project-details-header__button-container {
      margin-left: $xs-size;
    }
  }
}
