.selectedProject, .project {
  margin: 0 -15px; 
  .projectButtons {
    padding: $xs-size $xs-size $xs-size $m-size;
    font-size: $sm-size;
  }
  .projectName {
    padding-left: 0;
    text-align: left;
  }
  .project-field {
    margin-right: $sm-size;
    border: 1px solid $dark-blue;
    border-radius: $xs-size;
  }
  .project-actions {
    padding: 0;
  }
  .project-action {
    color: $purple;
    padding: 0;
    font-size: 1.3rem;
  }
}

.selectedProject {
  background-color: $superdark-blue;
  border-left: 2px solid $pink;
}

.project:hover {
  cursor: pointer;
  background-color: $superdark-blue;
  border-left: 2px solid $superdark-blue;
}
