.selected-project-list-item,
.project-list-item {
  border-left: 2px solid $dark-blue;
  margin: 0 -15px;
  .project {
    margin: 0;
    padding: $xs-size $m-size;
    font-size: $p-size;
  }
  .project__name {
    padding-left: 0;
    text-align: left;
  }
  .project__input {
    margin: -$xs-size;
    margin-left: 0;
    padding: $xs-size;
    border: 1px solid $dark-blue;
    border-radius: 5px;
  }
  .project__actions {
    padding: 0;
    margin: 0;
    button {
      padding: 0;
    }
  }
  .project__actions__action {
    color: $purple;
    padding: 0;
  }
}

.selected-project-list-item {
  background-color: $superdark-blue;
  border-left: 2px solid $pink;
}

.project-list-item:hover {
  cursor: pointer;
  background-color: $superdark-blue;
  border-left: 2px solid $superdark-blue;
}

@media only screen and (max-width: 1199px) {
  .project-list-item,
  .selected-project-list-item {
    .project {
      padding: $s-size;
    }
  }
}
