.selected-project-list-item,
.project-list-item {
  border-left: 2px solid $dark-blue;
  margin: 0 -15px;
  .project {
    padding: $xs-size $xs-size $xs-size $m-size;
    font-size: $p-size;
  }
  .project__name {
    padding-left: 0;
    text-align: left;
  }
  .project__input {
    margin-right: $sm-size;
    border: 1px solid $dark-blue;
    border-radius: $xs-size;
  }
  .project__actions {
    padding: 0;
  }
  .project__actions__action {
    color: $purple;
    padding: 0;
  }
}

.selected-project-list-item {
  background-color: $superdark-blue;
  border-left: 2px solid $pink;
}

.project-list-item:hover {
  cursor: pointer;
  background-color: $superdark-blue;
  border-left: 2px solid $superdark-blue;
}
