.projectHeader {
  display: flex;
  
  justify-content: space-between;
  align-content: center;
  margin: 0;
  padding: $m-size $s-size;
  background-color: white;
  border-bottom: 1px solid $dark-grey;
  h1 {
    padding-left: $s-size;
    font-size: $m-size;
    font-weight: 600;
  }
  img {
    max-height: 38px;
  }
  button {
    //align-self: center;
    background-color: $blue;
    border-radius: 5em / 5em;
    margin-left: $m-size;
    font-size: $sm-size;
    padding: $sm-size;
    flex: 2;
  }
  .projectTitle, .projectActions {
    display: flex;
    align-self: center;
  }
}
