.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(193,	196, 200, 0.3);
  }

.ReactModal__Body--open {
  overflow-y: hidden;
}

.Modal {
  margin: auto 0 auto auto;
  border-left: 1px solid $dark-grey;
  background-color: white;
  padding: 0;
  min-height: 100vh;
  align-self: center;
  font-weight: 600;
}
