.task {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 12px 13px 0 rgba(0, 0, 0, 0.03);
  border: solid 1px rgba(214, 223, 233, 0.51);
  margin: $m-size $l-size $m-size $m-size;
  i {
    padding: 0;
    color: $grey;
  }
  .row {
    margin: $s-size 0;
    padding: 0 $s-size;
  }
  p,
  h3 {
    padding: 0;
  }
  .task-header__buttons-container {
    margin-top: 0;
    padding: 0;
  }
  .task-status__dropdown {
    padding: 0;
    padding-left: $xs-size;
    font-weight: 300;
  }

  @media only screen and (max-width: 1199px) {
    padding: 0 $xs-size;
    margin: $xs-size;
    h3 {
      font-size: $p-size;
    }
    button {
      padding-right: 0;
    }
  }
}
