.Modal {
  .row {
    border-bottom: 1px solid $grey;
    margin: 0 $s-size;
    padding: 2.3rem 0;
  }
  .modalHeader {
    border-bottom: 1px solid $dark-grey;
    padding: $l-size 0 0.6rem 0;
  }
  h3 {
    font-weight: 500;
    font-size: 2.4rem;
    margin: 0;
    padding: 0;
  }
  button {
    @extend %button-purple;
    font-size: $s-size;
    padding: .2rem .6rem;
    margin-left: $s-size;
  }
  .modalFields {
    span {
      width: 25%;
    }
    span, input, select {
      font-size: $s-size;
      border: none;
      padding: 0;
    }
    .SingleDatePickerInput {
      padding: 0;
      border: none;
    }
    .DateInput_input {
      padding: 0;
      font-weight: 400;
    }
    .CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
      background-color: $purple;
    }
  }
}
