.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(193,	196, 200, 0.3);
  }

.ReactModal__Body--open {
  overflow-y: hidden;
}

.Modal {
  margin: auto 0 auto auto;
  border-left: 1px solid $dark-grey;
  background-color: white;
  padding: 0;
  width: 25vw;
  min-height: 100vh;
  align-self: center;
  font-weight: 600;
  h3 {
    font-weight: 600;
    margin: 0 $m-size;
    padding: $m-size 0;
    border-bottom: 1px solid $dark-grey;
  }
  button {
    padding: $xs-size $s-size;
    margin-left: $s-size;
    font-weight: 400;
    background: $blue;
    border-radius: 5em / 5em;
    color: white;
  }
  .modalFields {
    padding: $m-size;
    span {
      font-size: $s-size;
      width: 25%;
    }
    input, select {
      font-size: $s-size;
      display: flex;
      padding: $s-size;
      border: none;
    }
    input {
      width: 75%;
    }
    .SingleDatePickerInput {
      padding: 0;
      border: none;
    }
    .CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
      background-color: $blue;
    }
  }
  .modalActions {
    display: flex;
    justify-content: flex-end;
    padding: $m-size;
  }
}
