html {
  font-size: 62.5%;
}

body {
  word-wrap: break-word;
  word-break: break-word;
  font-family: 'Montserrat', sans-serif;
  font-size: $p-size;
  font-weight: 300;
  background-color: $light-grey;
  h1 {
    font-size: $h1-size;
  }
  h2 {
    font-size: $h2-size;
    b {
      font-weight: 600;
    }
  }
  h3 {
    font-size: $h3-size;
  }
}

button {
  font-size: $p-size;
  cursor: pointer;
  background: none;
  border: none;
}

button:visited, button:focus, input:focus {
  outline: none;
}

